<app-admin-navigation></app-admin-navigation>
<div class="container mb-5">
    <div class="container-fluid mt-3">
        <div class="card mb-2" *ngFor="let new of news">
            <div class="card-header">
                <h2 class="card-title text-capitalize"> {{new.title}} </h2>
            </div>
            <div class="card-body" style="padding-bottom: 0;">

                <p class="card-text text-justify mb-3"> {{new.description}} </p>
            </div>
            <div class="pic_holder">
                <img [src]="new.imagen" class="card-img-top">
            </div>
            <div class="text-center">
                <button class="btn btn-outline-danger mt-2">Eliminar</button>
            </div>
        </div>
    </div>
</div>