<nav class="navbar navbar-expand-lg navbar-dark bg-primary text-uppercase sticky-top">
    <a class="navbar-brand font-weight-normal" routerLink="/admin">Administración</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto font-weight-normal">



            


            <li class="nav-item dropdown" [routerLinkActive]="['active']">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" routerLinkActive="active">
                    <!-- Gestionar Información -->
                    Gestionar datos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item font-weight-normal" routerLink="/admin/executive-crud" routerLinkActive="active"> 
                        Junta de Educación
                    </a>
                    <a class="dropdown-item font-weight-normal" routerLink="/admin-2" routerLinkActive="active">
                        Galería
                    </a>
                    <a class="dropdown-item font-weight-normal" routerLink="/admin-2" routerLinkActive="active">
                        Información </a>
                </div>
            </li>

            <li class="nav-item dropdown" [routerLinkActive]="['active']">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" routerLinkActive="active">
                    Usuarios
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item font-weight-normal" routerLink="/admin/create-professor"
                        routerLinkActive="active"> Crear
                        profesor</a>
                    <a class="dropdown-item font-weight-normal" routerLink="/admin/create-supervisor"
                        routerLinkActive="active"> Crear
                        supervisor</a>
                    <a class="dropdown-item font-weight-normal" routerLink="/admin-2" routerLinkActive="active">
                        Gestionar
                        usuarios</a>
                </div>
            </li>

            <li class="nav-item dropdown" [routerLinkActive]="['active']">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" routerLinkActive="active">
                    Grupos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item font-weight-normal" routerLink="/admin-2" routerLinkActive="active"> Crear
                        sección</a>
                    <a class="dropdown-item font-weight-normal" routerLink="/admin-2" routerLinkActive="active"> Editar
                        sección</a>
                </div>
            </li>

            <li class="nav-item dropdown" [routerLinkActive]="['active']">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" routerLinkActive="active">
                    Noticas
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item font-weight-normal" routerLink="/admin-2"
                        routerLinkActive="active">Generales</a>
                    <a class="dropdown-item font-weight-normal" routerLink="/admin-2"
                        routerLinkActive="active">Específicas</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/admin-2" routerLinkActive="active">Mi perfil</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/home" routerLinkActive="active">Salir</a>
            </li>
        </ul>
    </div>
</nav>