<div class="row mt-3 mx-3">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center first-col">

        <div class="card mt-3">

            <div class="card-header">
                <h2 class="card-title">Junta Directiva</h2>
            </div>
            <div class="card-body">
                <p class="card-text text-justify">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt ducimus quia porro non ratione
                    dolore, sunt odio recusandae cumque vel voluptatibus ipsa voluptatem ea eos perferendis fuga ipsam
                    corporis omnis.
                </p>
                <p class="card-text text-justify mb-3">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt ducimus quia porro non ratione
                    dolore, sunt odio recusandae cumque vel voluptatibus ipsa voluptatem ea eos perferendis fuga ipsam
                    corporis omnis.
                </p>
                <br>
                <p class="card-text text-muted mt-3">
                    Teléfono de contacto: 2536-5145
                </p>
                <p class="card-text text-muted">
                    Correo: junta@email.com
                </p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 overflow-auto second-col">
        <div class="my_container">
            <!--  -->
            <div class="card card-1 mb-3" style="max-width: 60vw; width: 60vw;">
                <div class="row no-gutters">
                    <div class="col-md-4 pic_holder">
                        <img src="https://66.media.tumblr.com/a6bdf3c91920c626ab81e3d3df2fc3b3/tumblr_p0tb9plNfI1qbe766o7_500.jpg"
                            class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Nombre persona</h5>
                            <p class="card-text">Información de la persona persona persona persona persona persona
                                personapersona persona</p>
                            <p class="card-text"><small class="text-muted">Miembro de la Junta Directiva</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-1 mb-3" style="max-width: 60vw; width: 60vw;">
                <div class="row no-gutters">
                    <div class="col-md-4 pic_holder">
                        <img src="https://66.media.tumblr.com/a6bdf3c91920c626ab81e3d3df2fc3b3/tumblr_p0tb9plNfI1qbe766o7_500.jpg"
                            class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Nombre persona</h5>
                            <p class="card-text">Información de la persona persona persona persona persona persona
                                personapersona persona</p>
                            <p class="card-text"><small class="text-muted">Miembro de la Junta Directiva</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-1 mb-3" style="max-width: 60vw; width: 60vw;">
                <div class="row no-gutters">
                    <div class="col-md-4 pic_holder">
                        <img src="https://66.media.tumblr.com/a6bdf3c91920c626ab81e3d3df2fc3b3/tumblr_p0tb9plNfI1qbe766o7_500.jpg"
                            class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Nombre persona</h5>
                            <p class="card-text">Información de la persona persona persona persona persona persona
                                personapersona persona</p>
                            <p class="card-text"><small class="text-muted">Miembro de la Junta Directiva</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-1 mb-3" style="max-width: 60vw; width: 60vw;">
                <div class="row no-gutters">
                    <div class="col-md-4 pic_holder">
                        <img src="https://66.media.tumblr.com/a6bdf3c91920c626ab81e3d3df2fc3b3/tumblr_p0tb9plNfI1qbe766o7_500.jpg"
                            class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Nombre persona</h5>
                            <p class="card-text">Información de la persona persona persona persona persona persona
                                personapersona persona</p>
                            <p class="card-text"><small class="text-muted">Miembro de la Junta Directiva</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-1 mb-3" style="max-width: 60vw; width: 60vw;">
                <div class="row no-gutters">
                    <div class="col-md-4 pic_holder">
                        <img src="https://66.media.tumblr.com/a6bdf3c91920c626ab81e3d3df2fc3b3/tumblr_p0tb9plNfI1qbe766o7_500.jpg"
                            class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Nombre persona</h5>
                            <p class="card-text">Información de la persona persona persona persona persona persona
                                personapersona persona</p>
                            <p class="card-text"><small class="text-muted">Miembro de la Junta Directiva</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-1 mb-3" style="max-width: 60vw; width: 60vw;">
                <div class="row no-gutters">
                    <div class="col-md-4 pic_holder">
                        <img src="https://66.media.tumblr.com/a6bdf3c91920c626ab81e3d3df2fc3b3/tumblr_p0tb9plNfI1qbe766o7_500.jpg"
                            class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Nombre persona</h5>
                            <p class="card-text">Información de la persona persona persona persona persona persona
                                personapersona persona</p>
                            <p class="card-text"><small class="text-muted">Miembro de la Junta Directiva</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-1 mb-3" style="max-width: 60vw; width: 60vw;">
                <div class="row no-gutters">
                    <div class="col-md-4 pic_holder">
                        <img src="https://66.media.tumblr.com/a6bdf3c91920c626ab81e3d3df2fc3b3/tumblr_p0tb9plNfI1qbe766o7_500.jpg"
                            class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Nombre persona</h5>
                            <p class="card-text">Información de la persona persona persona persona persona persona
                                personapersona persona</p>
                            <p class="card-text"><small class="text-muted">Miembro de la Junta Directiva</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-1 mb-3" style="max-width: 60vw; width: 60vw;">
                <div class="row no-gutters">
                    <div class="col-md-4 pic_holder">
                        <img src="https://66.media.tumblr.com/a6bdf3c91920c626ab81e3d3df2fc3b3/tumblr_p0tb9plNfI1qbe766o7_500.jpg"
                            class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Nombre persona</h5>
                            <p class="card-text">Información de la persona persona persona persona persona persona
                                personapersona persona</p>
                            <p class="card-text"><small class="text-muted">Miembro de la Junta Directiva</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <!--  -->
        </div>
    </div>
</div>