<nav class="navbar navbar-expand-lg navbar-dark bg-primary text-uppercase">
    <a class="navbar-brand font-weight-normal" routerLink="/">Escuela Digital</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto font-weight-normal">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home" routerLinkActive="active">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/groups" routerLinkActive="active">Avisos</a>
            </li>
            <!-- Con este routerLinkActive arreglo el problema de el dropdown -->
            <li class="nav-item dropdown" [routerLinkActive]="['active']">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" routerLinkActive="active">
                    Personal
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item font-weight-normal" routerLink="/teachers"
                        routerLinkActive="active">Docentes</a>
                    <a class="dropdown-item font-weight-normal" routerLink="/executives" routerLinkActive="active">Junta
                        de Educacion</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/gallery" routerLinkActive="active">Galería</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contacto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/users" routerLinkActive="active">Acceso</a>
            </li>
        </ul>
    </div>
</nav>