<nav class="navbar navbar-expand-lg navbar-dark bg-primary text-uppercase">
    <a class="navbar-brand font-weight-normal" routerLink="/">Escuela Digital</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto font-weight-normal">
            <li class="nav-item">
                <a class="nav-link" routerLink="/professor" routerLinkActive="active">Crea aviso</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/my-news" routerLinkActive="active">Mis avisos</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/home" routerLinkActive="active">Salir</a>
            </li>
        </ul>
    </div>
</nav>