<div class="my_container">
    <div class="row mt-3 mx-auto">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center"
            style="height: 50vh; background: silver;">
            <h2>Escuela Respública Dominicana</h2>
            <p>Información general de la escuela</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 overflow-auto"
            style="height: 82vh;">
            <app-home-new></app-home-new>
        </div>
    </div>
</div>