<div class="row mt-3 mx-3">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center " style="height: 82vh;">
        <div class="card mt-3">
            <div class="card-header">
                <h2 class="card-title">Escuela Respública Dominicana</h2>
            </div>
            <div class="card-body">
                <p class="card-text text-justify">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt ducimus quia porro non ratione
                    dolore, sunt odio recusandae cumque vel voluptatibus ipsa voluptatem ea eos perferendis fuga ipsam
                    corporis omnis.
                </p>
                <p class="card-text text-justify mb-3">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt ducimus quia porro non ratione
                    dolore, sunt odio recusandae cumque vel voluptatibus ipsa voluptatem ea eos perferendis fuga ipsam
                    corporis omnis.
                </p>
                <br>
                <p class="card-text text-muted mt-3">
                    Teléfono de contacto: 2536-5145
                </p>
                <p class="card-text text-muted">
                    Correo: escuela@email.com
                </p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 overflow-auto " style="height: 82vh;">
        <app-home-new></app-home-new>
    </div>
</div>