<app-navigation></app-navigation>

<div class="row mt-3 mx-3">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center " style="height: 82vh;">
        <div class="card mt-3">
            <div class="card-header">
                <h2 class="card-title">Escuela República Dominicana</h2>
            </div>
            <div class="card-body">
                <p class="card-text text-justify">
                    La escuela es una de las instituciones más importantes en la vida de una persona, quizás también una
                    de las primordiales luego de la familia, ya que en la actualidad se supone que el niño se integra a
                    ella desde sus años tempranos para finalizarla normalmente cerca de su adultez. Si bien puede haber
                    variantes en sus denominaciones, la escuela primaria y secundaria es la base de la educación de
                    cualquier individuo.
                </p>
                <p class="card-text text-justify mb-3">
                    Si bien puede haber variantes en sus denominaciones, la escuela primaria y secundaria es la base de
                    la educación de cualquier individuo.
                </p>
                <br>
                <p class="card-text text-muted mt-3">
                    Teléfono de contacto: 2536-5145
                </p>
                <p class="card-text text-muted">
                    Correo: escuelarepublicadominicana@yahoo.es
                </p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 overflow-auto " style="height: 82vh;">
        <app-home-new *ngFor="let new of news" [new]="new"></app-home-new>
    </div>
</div>