<div class="my_container">
    <div class="card" style="width: 60vw;">
        <div class="card-body" style="padding-bottom: 0;">
            <h2>Título de la noticia</h2>
            <p>Descripción de la noticia como todo en la vidaDescripción de la noticia Descripción de la noticia
                Descripción de la noticia</p>
        </div>
        <div class="pic_holder">
            <img src="https://cache-graphicslib.viator.com/graphicslib/page-images/742x525/797999_4x4DominicanAdventurefromPuntaCanawithChocolateandCoffeeTasting_0019.jpg"
                class="card-img-top">
        </div>
    </div>
</div>