<div class="container-fluid mt-3">
    <div class="card">
        <div class="card-header">
            <h2 class="card-title text-capitalize">Gran Bingo Familiar</h2>
        </div>
        <div class="card-body" style="padding-bottom: 0;">

            <p class="card-text text-justify mb-3">Este 13 de septiembre acérquese a nuestras instalaciones con sus
                pequeños y disfrute de esta noche ya que tendremos muchos premios.</p>
        </div>
        <div class="pic_holder">
            <img src="http://4.bp.blogspot.com/-eFPm-A1hGl4/VhlPJVz49gI/AAAAAAAAFQo/i_rKC-1xjM0/s1600/tarde-de-bingo-galerias-vallarta.png"
                class="card-img-top">
        </div>
    </div>
</div>